server:
  port: 8090

spring:
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  messages:
    encoding: UTF-8

logging:
  charset:
    console: UTF-8
    file: UTF-8


